@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<CBTest Items=Ingredient.Ingredients SimpleEvent=DoSimple />
<CBTest Items=Ingredient.Ingredients MouseEvent=DoClick />
<CBTest Items=Ingredient.Ingredients SelectEvent=DoSelect />
<CBTest Items=Ingredient.Ingredients RowEvent=DoRowSelect />

<CBTest Items=Ingredient.Ingredients SelectEvent="(Ingredient ingredient) => {}" />
<CBTest Items=Ingredient.Ingredients RowEvent="(RowArgs<Ingredient> args) => {}" />

<CBTest Items=Ingredient.Ingredients SelectEvent=DoSelect T=Ingredient/>
<CBTest Items=Ingredient.Ingredients RowEvent=DoRowSelect T=Ingredient/>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DoSimple() { }

    private void DoClick(MouseEventArgs args) { }

    private void DoSelect(Ingredient ingredient) { }

    private void DoRowSelect(RowArgs<Ingredient> args) { }

}
