@typeparam T
<h3>Select an ingredient</h3>

@if (Items != null)
{
    <ul>
       @foreach (var item in Items)
       {
           <li class=@CssClass style=@CssStyle @onclick="(async () => await SelectEvent.InvokeAsync(item))" >
               @item
           </li>
       }
   </ul>
}

@code {
    [Parameter] public IEnumerable<T> Items { get; set; } = default!;
    [Parameter] public EventCallback<T> SelectEvent { get; set; } = default!;


    private string CssClass
      => SelectEvent.HasDelegate ? "" : "text-muted";

    private string CssStyle
      => SelectEvent.HasDelegate ? "cursor: pointer;" : "";

}
